<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>博客后台管理</title>
    <header th:replace="header.html"></header>

    <style>
        .updateLable {
            font-size: 13px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<!--    修改账户密码-->
<div class="layui-col-md5" style="width: 500px;">
    <div class="layui-card">
        <div class="layui-card-header" th:style="'border-bottom:1px solid #f6f6f6'">找回密码</div>
        <div class="layui-card-body">
            <div class="layui-form" th:style="'padding-right:28px;margin-top:15px'">
                <div class="layui-form-item">
                    <label class="layui-form-label updateLable">绑定邮箱：</label>
                    <div class="layui-input-block">
                        <input type="email" name="bindingEamil" id="bindingEamil" required lay-verify="required"
                               placeholder="输入绑定邮箱"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label updateLable">新密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="newpwd" required lay-verify="required" id="newpwd"
                               placeholder="请输入新密码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label updateLable">确认新密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="newrequiredpwd" required lay-verify="required"
                               id="newrequiredpwd"
                               placeholder="确认新密码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label updateLable">验证码：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="identifyPwd" id="identifyPwd" required lay-verify="required"
                               placeholder="请输入邮箱验证码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux" th:style="'padding:0!important'">
                        <input class="layui-btn" id="sendIdentify" type="button" value="发送邮箱验证码">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="updatePwd" lay-submit lay-filter="updatePwd">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //发送邮箱验证码
        document.querySelector('#sendIdentify').onclick = function () {
            //防刷新:检测是否存在cookie
            if ($.cookie("captchaEmailPwd")) {// 判断cookie存不存在
                var count = $.cookie("captchaEmail"); // 从cookie中取出count
                var btn = $('#sendIdentify');
                btn.text(count + '秒后可重发').attr('disabled', true).css('cursor', 'not-allowed');
                var resend = setInterval(function () {
                    count--;
                    if (count > 0) {
                        btn.val(count + '秒后可重发').attr('disabled', true).css('cursor', 'not-allowed'); //把count保存到cookie中
                        $.cookie("captchaEmailPwd", count, {path: '/', expires: (1 / 86400) * count});
                    } else {
                        clearInterval(resend);
                        btn.val("获取验证码").removeClass('disabled').removeAttr('disabled style');
                    }
                }, 1000);
            }

            //检查邮箱是否填写
            var email = $('#bindingEamil').val();
            if (email == '' || email == 'undefined') {
                layer.alert("请先填写邮箱！");
                return;
            }
            //验证邮箱格式是否正确
            if (!/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(email)) {
                layer.alert("邮箱格式错误，请输入正确的邮箱!")
                return;
            }

            // console.log('邮箱:'+email);
            $.ajax({
                url: '/resetPassword/sendEmail',
                data: {
                    email: email,
                },
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    if (results.code == 200) {
                        layer.alert('验证码已发送,请及时查看你的邮箱!');
                    } else {
                        layer.alert('发送失败，请稍后再试！');
                    }
                }
            });
            //改变按钮状态
            var btn = $('#sendIdentify');
            var count = 60;
            var resend = setInterval(function () {
                count--;
                if (count > 0) {
                    btn.val(count + "秒后可重发");
                    $.cookie("captchaEmailPwd", count, {path: '/', expires: (1 / 86400) * count});
                } else {
                    clearInterval(resend);
                    btn.val("获取验证码").removeAttr('disabled style')
                }
            }, 1000);
            btn.attr('disabled', true).css('cursor', 'not-allowed');
        }

        document.querySelector('#updatePwd').onclick = function () {
            var newPwd = $('#newpwd').val();
            var new2Pwd = $('#newrequiredpwd').val();
            var email = $('#bindingEamil').val();
            var identify = $('#identifyPwd').val();

            //基本验证
            if (newPwd == '' || newPwd == 'undefined') {
                layer.alert("请填写新密码！");
                return;
            }
            if (!/^.{6,}$/.test(newPwd)) {
                layer.alert("密码至少6位，请重新输入!");
                return;
            }
            if (new2Pwd == '' || new2Pwd == 'undefined') {
                layer.alert("请输入确认密码!")
                return;
            }
            if (newPwd != new2Pwd) {
                layer.alert("两次输入的新密码不一致，请重新输入!");
                return;
            }
            if (email == '' || email == 'undefined') {
                layer.alert("请先填写邮箱！");
                return;
            }
            //验证邮箱格式是否正确
            if (!/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(email)) {
                layer.alert("邮箱格式错误，请输入正确的邮箱!")
                return;
            }
            if (identify == '' || identify == 'undefined') {
                layer.alert("验证码不能为空！")
                return;
            }

            // 通过验证，提交表单
            $.ajax({
                url: '/resetPassword/retrievePwd',
                data: {
                    userEmail: email,
                    identify: identify,
                    newPwd: newPwd
                },
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    if (result.code == 200) {
                        layer.alert('成功修改密码', {icon: 1}, function () {
                            // location.href="/exit";
                            window.parent.location.reload();
                        });
                        // layer.alert('成功修改密码',{icon:1});
                        console.log('修改密码成功!');
                    } else {
                        console.log(result.code + "," + result.msg)
                        layer.alert(result.msg)
                    }
                }
            });
        }



    })
</script>

</body>
</html>