<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>博客后台管理</title>
    <header th:replace="header.html"></header>
</head>
<body>

<!--首页轮播图-->
<div class="layui-carousel" id="slideshow" style="margin: 0 auto">
    <div carousel-item>
        <div>
            <img th:src="@{/imgsrc//lunbo/1.jpg}" style="width: 100%;height: 100%">
        </div>
        <div>
            <img th:src="@{/imgsrc//lunbo/2.jpg}" style="width: 100%;height: 100%">
        </div>
        <div>
            <img th:src="@{/imgsrc//lunbo/3.jpg}" style="width: 100%;height: 100%">
        </div>
        <div>
            <img th:src="@{/imgsrc//lunbo/4.jpg}" style="width: 100%;height: 100%">
        </div>
        <div>
            <img th:src="@{/imgsrc//lunbo/5.jpg}" style="width: 100%;height: 100%">
        </div>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs6 layui-col-md12">
            <div class="layui-panel">
                <div>
                    <blockquote class="layui-elem-quote" th:style="'font-size: 16px'">
                        欢迎<span th:style="'font-weight: bold'" th:text="${session.user.nickName}"></span>回来,感谢使用本系统！</br>
                        系统注册天数：<span th:text="${session.days}" th:style="'color:#dd0000;font-weight: bold'"></span>天！
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#slideshow'
            ,width: '100%' //设置容器宽度
            ,height: '400px' //设置容器高度
            ,arrow: 'hover' //始终显示箭头
            ,anim: 'default' //切换动画方式

        });
    });
</script>
</body>
</html>
</body>
</html>