<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takuhome.back.dao.SysAdminLogDao">

    <resultMap id="SysUserLogMap" type="com.takuhome.back.entity.SysAdminUserLog">
        <result property="logId" column="adm_logid"/>
        <result property="admId" column="adm_admuserid"/>
        <result property="admUser" column="adm_admuser"/>
        <result property="admMsg" column="adm_msg"/>
        <result property="operationTime" column="adm_operationtime"></result>
    </resultMap>

    <sql id="Base_result">
        adm_admuserid,adm_admuser,adm_msg,adm_operationtime
    </sql>

    <insert id="insertAdmLog" useGeneratedKeys="true" keyProperty="logId"
            parameterType="com.takuhome.back.entity.SysAdminUserLog">
        insert into taku_adminlog(<include refid="Base_result"/>) values(#{admId},#{admUser}
            ,#{admMsg},now())
    </insert>


</mapper>